# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Matt McKenna
	email = matt@mtmckenna.com
[push]
	default = simple
[pull]
	rebase = true
[core]
	editor = /usr/bin/vim
	autocrlf = false
[credential]
	helper = osxkeychain
